@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'NumberFont';
  src: url('../assets/fonts/number.TTF');
  /* 注意路径 */
}

:root {
  --background-color: #111111;
  --text-color: #300078;
  --title-color: #ff2173;
  --highlight-color: #9f003a;
  --background-image: none;
  --first-blob-color: #c084fc;
  --next-blob-color: #60a5fa;

}

.embeded {
  /* --background-color: transparent;
  --text-color: red;
  --title-color: red;
  --highlight-color: red; */

}

body {
  color: var(--text-color);
  font-family: NumberFont;

}


.embeded {
  color: var(--text-color)
}


img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-image: var(--background-image)
}

iframe {
  border: none;
}

hr {
  border-top: none;
  border-bottom: 1px solid;
  border-color: #0003;
  margin: 2rem 0;
}