@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'NumberFont';
  src: url('../assets/fonts/number.TTF'); /* 注意路径 */
}

:root {
  --background-color: #111111;
  --text-color: #f9d38c;
  --title-color: #ad5a78;
  --highlight-color: #f39d4d;
}


img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

hr {
  border-top: none;
  border-bottom: 1px solid;
  border-color: #0003;
  margin: 2rem 0;
}
