@media only screen and (max-width: 700px) {

  /* 当屏幕宽度小于 700px 时 */
  .runTable th:nth-child(5),
  .runTable td:nth-child(5) {
    display: none;
    /* 隐藏第5列 */
  }
}

.runTable {
  width: 100%;
  font-family: monospace;
  font-weight: 500;
  table {
    padding: 24px;
  }

  font-variant: tabular-nums;
  margin: 2rem 0 5rem 0;

  /* font-weight: 700; */
  font-size: 16px;
  user-select: none;


  :is(thead) {
    color: var(--title-color);
    text-align: right;

    :is(th) {
      padding: 0.5rem 2rem;
    }
  }
}

.runRow {
  cursor: pointer;

  :is(td) {
    padding: 0.5rem 2rem;
    border: 0;
    text-align: right;

    &:first-child {
      text-align: left;
      min-width: 100px;
    }
  }

  &:hover {
    background-color: lighten(rgb(26, 26, 26), 3%);
  }
}


tr:hover,
.selected {
  color: var(--highlight-color);
  animation: color-animation 2s linear infinite;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-image: linear-gradient(-225deg, var(--first-blob-color) 30%, var(--next-blob-color) 60%, var(--first-blob-color) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  z-index: 3;
  background-clip: text;


}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

@keyframes color-animation {
  40%,to {
      background-position: -200%
  }
}


.runDate {
  font-weight: 700;
  color: var(--title-color);
}