@media only screen and (max-width: 700px) {

  /* 当屏幕宽度小于 700px 时 */
  .runTable th:nth-child(5),
  .runTable td:nth-child(5) {
    display: none;
    /* 隐藏第5列 */
  }
}

.runTable {
  width: 100%;
  table {
    padding: 24px;
  }
  font-variant: tabular-nums;
  margin: 2rem 0 5rem 0;
  font-family: NumberFont;
  font-weight: 700;
  font-size: 18px;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3);

  :is(thead) {
    color: rgb(204, 204, 204);
    text-align: right;

    :is(th) {
      padding: 0.5rem 2rem;
    }
  }
}

.runRow {
  cursor: pointer;
  :is(td) {
    padding: 0.5rem 2rem;
    border: 0;
    text-align: right;

    &:first-child {
      text-align: left;
      min-width: 100px;
    }
  }

  &:hover {
    background-color: lighten(rgb(26, 26, 26), 3%);
  }
}

tr:hover,.selected {
  color:var(--highlight-color);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.7), /* 发光效果 */
  0 0 20px rgba(0, 255, 255, 0.5),
  0 0 30px rgba(0, 255, 255, 0.3);
  
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.runDate {
  color: rgb(204, 204, 204);
}
